{% extends 'base.html' %}


{% block content %}


<div class="row">
    <div class="col-md-5 col-xs-5 col-sm-5 form-group border rounded p-5 m-4 h-100 bg-light" >
          <form method="POST" action="signup">
              {% csrf_token %}
            <div class="form-group row">
                <i class="col-sm-12 col-form-label text-center font-weight-bold">Register</i>
            </div>
            <div class="form-group row">
                <label for="inputfirst1" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputfirst1" name="first_name">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputlast1" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputlas1t" name="last_name">
                </div>
            </div>

            <div class="form-group row">
              <label for="inputEmail1" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail1" name="email">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword1" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword1" name="pwd">
              </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword1" class="col-sm-2 col-form-label">Confirm pw</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword1" name="pwd_conf">
                </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12 ">
                <button type="submit" class="btn btn-dark float-right">Register</button>
              </div>
            </div>

          </form>
    </div>

    <div class="col-md-5 col-xs-5 col-sm-5 form-group border rounded p-5 m-4 h-100" >
            <form method="post">{% csrf_token %}
                <div class="form-group row">
                    <i class="col-sm-12 col-form-label text-center font-weight-bold">Login</i>
                </div>
                <div class="form-group row">
                  <label for="inputEmail2" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail2" name="email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword2" class="col-sm-2 col-form-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword2" name="pwd">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 ">
                    <button type="submit" class="btn btn-dark float-right">Login</button>
                  </div>
                </div>
              </form>
    </div>    
</div>
{% endblock %}